<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="1">

    <link href="static/semantic-1.2.0/semantic.css" media="all" rel="stylesheet" type="text/css" />
    <link href="static/basic.css" media="all" rel="stylesheet"  type="text/css" />
    <link href="static/qubes.css" media="all" rel="stylesheet"  type="text/css" />

    <script type="text/javascript" src="/static/semantic-1.2.0/semantic.js"></script>

    <title>Restructured Text</title>
</head>
<body>
  {# ----------  CONTENT ---------- #}
  <div id="page" class="ui pusher">
      <div id="content" class="ui grid">
          <div class="equal height row">
              <div class="sixteen wide computer sixteen wide tablet sixteen wide mobile column">
                  <div class="ui horizontal segment">
                      {% block body %}{% endblock %}
                  </div>
              </div>
          </div>
      </div>
  </div>
</body>
</html>
